/* RESET CSS */

* { 
    margin: 0;
    padding: 0;
}

/* ESTILOS GENERALES */

body {
    background-color: beige;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

header {
    padding: 40px;
}

h2 {
    padding-bottom: 30px;
}


div {
    padding: 40px;
    background-color: whitesmoke;
    margin-bottom: 20PX;
    border: black solid 1px;
    margin-left: 20px;
    margin-right: 20px;
}


footer {
    color: white;
    background-color: black;
    padding: 40px;
}